*{
    margin: 0;
    padding: 0;
    top: 0;
}
li a button{
    font-family: sans-serif;
    position: sticky;
    font-size: 16px;
    text-decoration: none;
}
header{
    padding: 25px 3%;
    background-color: #8E05C2;
}
.logo{
    cursor: pointer;
    font-family: monospace;
    float: left;
    position: sticky;
    width: 90px;
    margin-right: 60px;
    margin-bottom: 10px;
}
.menu-bar{
    list-style: none;
}
.menu-bar li{
    display: inline-block;
    padding: 0px 27px;
}
.menu-bar li a{
    color: floralwhite;
}
.menu-bar li a{
    text-decoration: none;
    margin-top: 30px;
}
.menu-bar li a:hover{
    color: rgb(0, 0, 0);
}
.log button{
    padding: 9px 25px;
    background-color: #150050;
    border-color: #ffffff;
    border-radius: 5px;
    color: rgb(250, 250, 250);
}
.day button {
    padding: 9px 25px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.contactus{

    text-align: center;
    height: 266px;
    width: 100%;
    background-color: #8E05C2;
    

}
.contactus h1  {

    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
    
}
.contactus p {

    color: #fff;
    opacity: 0.7;
    padding-left: 10px;

}
input{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
textarea{
    width: 200px;
    resize: none;
    margin-top: 20px;
    height: 100px;
    margin-left: 10px;
}
.reach h2{
    margin-top: 10px;
    margin-left: 10px;
}
.reach p{
    margin-top: 10px;
    margin-left: 10px;
}